/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-modern {
    @apply px-6 py-2 rounded-lg transition-all duration-300 
    bg-gradient-to-r from-indigo-600 to-emerald-500 text-white 
    hover:shadow-lg hover:scale-105;
  }
  
  .card-modern {
    @apply p-6 rounded-2xl backdrop-blur-md bg-white/10 
    shadow-xl 
    hover:shadow-2xl transition-all duration-300 
    hover:-translate-y-1;
  }

  .glass {
    @apply backdrop-blur-md 
           bg-white/15 
           /*border 
           border-white/20*/ 
           shadow-lg;
  }
}